body {
    font-family: "Roboto", sans-serif;
    padding: 0px 20px;
    width: 200px;
    border: none;

}

.wrapper {
    padding: 0px 20px;
    font-family: "Roboto";
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

button {
    padding: 10px;
    font-size: 14px;
    border: none;
    background-color: rgb(224, 95, 95);
    font-weight: bold;
    border-radius: 20px;
    color: white;
}

p {
    margin-top: 20px;
    font-weight: bold;

}